/* Global */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.error {
    color: #000;
    text-shadow:none;
    padding: 0px 7px;
}

.formlabel {
    display: inline-block;
    padding: 5px;
    font-weight:bold;
}

body{
  display:flex;
  justify-content:center;
  background-color: #731739;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f24535'/%3E%3Cstop offset='1' stop-color='%23731739'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23ffaa33' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ffaa33' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.38'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  color:rgb(228, 226, 226);
  text-shadow: 1px 1px #40162D;
}
/* Global */

h1, h2{
  font-family: 'Orbitron', sans-serif;
}

h1{
  font-size:300%;
}

h2{
  font-size:150%;
  text-align:center;
}


/* Table */
th, td {
  border: 1px solid rgb(228, 226, 226);
  padding:7px;
}

table{
  display:flex;
  justify-content:center;
  font-size:125%;
  margin:40px;
}
/* Table */

#options{
  display:flex;
  justify-content:space-around;
  margin:35px;
}

button{
  font-size:100%;
  font-family: 'Raleway', sans-serif;
  border-radius:10%;
  color:#000;
  background:rgb(228, 226, 226);
  box-shadow:1px 1px #40162D;
}

.RoverPhoto {
	display: none;
}

footer{
  font-size:150%;
  text-align:center;
}

/* Mobile */
@media screen and (max-width: 570px) {
  body {
   display:initial;
  }
  
  form{
    padding:10px;
  }

  h1{
    text-align:center;
  }

  table{
    font-size:100%;
  }

  #options{
    display:initial;
    margin: 0px;
  }
}

@media screen and (max-width: 765px){
  h1{
    text-align:center;
  }
}

/* Mobile */
